<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>HSH</title>
  
  
  
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Monoton|Pacifico" rel="stylesheet">

  
</head>

<body>
<img src="static/images/smrtHm.svg" alt="SmartHome" height="80" width="80" onerror="this.src='static/images/smrtHm.png'" style="margin:20px 0 0 600px; position:absolute;">
<br><br><br><br><br>
  <h1 align="center" style="font-family: 'Monoton', cursive;">Home Smart Home</h1>
  <br><br>
  <h1 align="center" style="font-family: 'Pacifico', cursive;">Rooms</h1>
  <br>

  <div id="main">
  <div class="col">

  {% for room in rooms %}

    <div class="box" onclick="box(this);" style="float: left">
      <div class="box-content" style="background-color: #b5cce3">
        <div class="box-text">
<h2 style="font-family: 'Pacifico', cursive;"> Devices </h2>
<table align="center">

       {% for app in appliances %}
       {% if app.RoomID == room.RoomID %}
  <tr>
         {% if app.Name == "Light" %}
         <td align="center"> <img src="static/images/smrtLight.svg" alt="Light" height="40" width="40" onerror="this.src='static/images/smrtLight.png'"> </td>
         <td align="center"> {{app.Name}} </td>
         <br>
         {% endif %}
  </tr>

<tr>
         {% if app.Name == "Television" %}
         <td align="center"> <img src="static/images/smrtTV.svg" alt="TV" height="40" width="40" onerror="this.src='static/images/smrtTV.png'"> </td>
         <td align="center"> TV </td>
         <br>
         {% endif %}
</tr>

<tr>
         {% if app.Name == "Air Conditioner" %}
         <td align="center"><img src="static/images/smrtAC.svg" alt="AC" height="40" width="40" onerror="this.src='static/images/smrtAC.png'"> </td>
         <td align="center"> AC </td>
         <br>
         {% endif %}
</tr>

<tr>
         {% if app.Name == "Curtain" %}
         <td align="center"><img src="static/images/smrtCurt.svg" alt="Curtain" height="40" width="40" onerror="this.src='static/images/smrtCurt.png'"> </td>
         <td align="center"> {{app.Name}} </td>
         <br>
         {% endif %}
</tr>

<tr>
         {% if app.Name == "Oven" %}
         <td align="center"><img src="static/images/smrtOven.svg" alt="Oven" height="40" width="40" onerror="this.src='static/images/smrtOven.png'"> </td>
         <td align="center"> {{app.Name}} </td>
         <br>
         {% endif %}
</tr>

       {% endif %}
       {% endfor %}

       {% for door in doors %}
<tr>
       {% if door.RoomID == room.RoomID %}
       <td align="center"><img src="static/images/smrtD.svg" alt="Door" height="40" width="40" onerror="this.src='static/images/smrtD.png'"></td>
       <td align="center"> Door </td>
       {% endif %}
</tr>
       {% endfor %}
</table>
        </div>
      </div>
      <div>
        <img src="static/images/Nodes.svg" alt="Room" onerror="this.src='static/images/Nodes.png'" height="66" width="66" style="margin:60px 0 0 118px; opacity:0.6; position:absolute; background: no-repeat center center / contain">
      </div>
      <div class="box-title">{{room.Name}}</div>
    </div>

  
        {% endfor %}
  </div>
</div>
  
  

    <script  src="static/js/index.js"></script>




</body>

</html>
