body{
    background:url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    }
    /* structure */
    .form{
        max-width:570px;
        padding:30px;
        margin:40px auto;
        background: #FFF;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    }
    /* form header */
    .form h1{
        background: #2A88AD;
        padding: 20px 30px 15px 30px;
        margin: -30px -30px 30px -30px;
        border-radius: 10px 10px 0 0;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
        font: normal 30px 'Bitter', serif;
        box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
        border: 1px solid #257C9E;
    }
    /* 
    .form h1 > span{
        display: block;
        margin-top: 2px;
        font: 13px Arial, Helvetica, sans-serif;
    }
     */
    /*  spaces between headers */
    .form label{
        display: block;
        font: 13px Arial, Helvetica, sans-serif;
        color: #888;
        margin-bottom: 15px;
    }
    /* headers */
    .form .part{
        font: normal 20px 'Bitter', serif;
        color: #2A88AD;
        margin-bottom: 5px;
    }
    /* header circles */
    .form .part span {
        background: #2A88AD;
        padding: 5px 10px 5px 10px;
        position: absolute;
        border-radius: 50%;
        border: 4px solid #fff;
        font-size: 14px;
        margin-left: -45px;
        color: #fff;
        margin-top: -3px;
    }
    /* button */
    /* .form input[type="button"],  */
    .form input[type="submit"]{
        background: #2A88AD;
        padding: 8px 20px 8px 20px;
        border-radius: 5px;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
        font: normal 30px 'Bitter', serif;
        box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
        border: 1px solid #257C9E;
        font-size: 15px;
    }
    /* .form input[type="button"]:hover,  */
    .form input[type="submit"]:hover{
        background: #2A6881;
        box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    }
    /* feilds width */
    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }
    /* icons colors */
    body {
      padding: 1em;
    /*   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
      font-family: "Comic Sans MS", cursive, sans-serif;
      font-size: 15px;
      color: #b9b9b9;
      background-color: #e3e3e3;
    }
    h4 {
      color: #191970;
      
      text-align:center;
    }
    /* fields */
    input,
    input[type="radio"] + label,
    input[type="checkbox"] + label:before,
    field option,
    field {
      width: 100%;
      padding: 1em;
      line-height: 1.4;
      background-color: #f9f9f9;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      transition: 0.35s ease-in-out;
      transition: all 0.35s ease-in-out;
    }
    input:focus {
      outline: 0;
      border-color: DarkGoldenRod;
    }
    input:focus + .input-icon i {
      color:  #2A88AD;
    }
    input:focus + .input-icon:after {
      border-right-color: #191970;
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"] + label,
    field {
      display: inline-block;
      width: 50%;
      text-align: center;
      float: left;
      border-radius: 0;
    }
    input[type="radio"] + label:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    input[type="radio"] + label:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    input[type="radio"] + label i {
      padding-right: 0.4em;
    }
    input[type="radio"]:checked + label,
    input:checked + label:before,
    field:focus,
    field:active {
      background-color:  #2A88AD;
      color: #fff;
      border-color: DarkGoldenRod;
    }
    
    field option {
      background-color: #191970;
      color: pink;
    }
    .gp-field {
      margin-bottom: 1em;
      zoom: 1;
    }
    .gp-field:before,
    .gp-field:after {
      content: "";
      display: table;
    }
    .gp-field:after {
      clear: both;
    }
    .fIcon {
      position: relative;
    }
    .fIcon input {
      padding-left: 4.4em;
    }
    .fIcon .input-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 3.4em;
      height: 3.4em;
      line-height: 3.4em;
      text-align: center;
      pointer-events: none;
    }
    .fIcon .input-icon:after {
      position: absolute;
      top: 0.6em;
      bottom: 0.6em;
      left: 3.4em;
      display: block;
      border-right: 1px solid #e5e5e5;
      content: "";
      -webkit-transition: 0.35s ease-in-out;
      -moz-transition: 0.35s ease-in-out;
      -o-transition: 0.35s ease-in-out;
      transition: 0.35s ease-in-out;
      transition: all 0.35s ease-in-out;
    }
    .row {
      zoom: 1;
    }
    .row:before,
    .row:after {
      content: "";
      display: table;
    }
    .row:after {
      clear: both;
    }
    @media only screen and (max-width: 540px) {
      .col-half {
        width: 100%;
        padding-right: 0;
      }
    }
    
    