<!DOCTYPE html>
<html>
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
    </head>
    <body>
 
 
<div class="container">
 
 
  <h2>Create Account Form</h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="FName">First Name:</label>
      <input type="text" class="form-control" id="FName" name="FName">
      <br>
      <label for="LName">Last Name:</label>
      <input type="text" class="form-control" id="LName" name="LName">
      <br>
      <label for="Username">Username:</label>
      <input type="text" class="form-control" id="Username" name="Username">
      <br>
      <label for="Email">Email:</label>
      <input type="text" class="form-control" id="Email" name="Email" placeholder="example@gmail.com">
      <br>
      <label for="Password">Password:</label>
      <input type="password" class="form-control" id="Password" name="Password" placeholder="Enter a password.">
      <br>
      <label for="PhoneNumber">Phone Number:</label>
      <input type="number" class="form-control" id="PhoneNumber" name="PhoneNumber">
      <br>
      <label for="EmergencyPhone">Emergency Contact Phone:</label>
      <input type="number" class="form-control" id="EmergencyPhone" name="EmergencyPhone">
 
 
    </div>
    <button type="submit" class="btn btn-success">Sign Up</button>
  </form>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>            
</div>
</div>
</body>
</html>